
        <div ng-controller="patientCtrl as ctrl">

            <!-- Profile -->

            <form name="profileForm" ng-submit="ctrl.save()" novalidate autocomplete="off">

                <div class="row form-group" ng-hide="ctrl.isEditorOn">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">Name: </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">{{ctrl.patient.name}}</div>
                </div>



                <div class="row form-group" ng-show="profileCtrl.isEditorOn">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">Name: </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">{{ctrl.patient.name}}</div>
                </div>


                <div class="row form-group text-right">
                    <br>
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">Edit</button>
                    <button type="button" class="btn btn-success"
                            ng-click="ctrl.save()">Save</button>
                </div>


            </form>


        </div>