.pP{
    font-size: 32px;
}

.data-label{
    width: 30%;
}

.data-details{
    width: 70%;
}

.data-date{
    width: 15%
}

.data-main{
    width: 50%
}

.info-box-content-custom{
    padding: 5px 10px;
    margin-left: 90px;

}